/* Custom stylesheet */

/* Global */

.nav-link:hover {
    color: inherit;
    text-decoration: none;
    opacity: .75;
  }
  
  .link-reset:hover {
    color: inherit;
    text-decoration: none;
  }
  
  .octicon {
    display: inline-block;
    vertical-align: text-bottom;
  }
  
  .container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    vertical-align:bottom;
  }
  
  .box{
    flex: 1 0 calc(25% - 20px);
    margin: 5px;
    background: #E9D2FF;
    opacity: 0.75;
    transition: 0.3s;
    background-color: #9d1904;
  }
  
  .box:after{
    content: '';
    display: block;
    padding-bottom: 100%;
  }
  
  .button {
    background-color: #4CAF50; /* Green */
    border-radius: 56px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    opacity: .75;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  
  .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 1;
  }
  
  .banner{
      display: none;
  }
  
  .toggle{
      display:none;
  }
      
  .toggle:hover + banner {
      display: block;
  }
  
  /* Footer */
  
  /*  SECTIONS  */
  .resource {
      display: grid;  
          grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 5x;
      padding: 5px;
      margin: 0px;
      text-align: center;
  }
  
  .textbtn {
    border: none;
    background-color: inherit; 
    color: #ffffff;
    padding: 0px;
    font-size: 12px;
    margin-bottom: 1px;
    cursor: pointer;
    width: 100%;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  
  .textbtn:hover{
   background-color: #ffc544;
  }
  /* Educate */
  
  /* Donate 
  On the Ground
  Petitions
  Organizations
  Black businesses 
  */
  
  
  /* Collaborate 
  Contact Reps
  Volunteer
  Orgs 
  */