/*GLOBAL LESS VARIABLES*/
@device-width-small: 520px;
@device-width-medium: 760px;
@device-width-large: 1024px;


/* Custom stylesheet */

/* Global */

@media screen and (max-width: 1024px) {
  #image_div img {
    left: 50%;
    margin-left: -512px;
  }
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.buffer {
  height: 250px;
}

.nav-link:hover {
  color: white;
  text-decoration: none;
  opacity: .75;
}

.link-reset:hover {
  color: inherit;
  text-decoration: none;
}



.container {
  flex-wrap: wrap;
  vertical-align: bottom;
}

.action-div {
  height: 33vh;
  width: 100vw;
  text-align: center;
}

.bg-img {
  background-repeat: no-repeat;
  height: 28vh;
  background-size: contain;
  background-position: bottom center;


}


.button {
  background-color: #5e9977;
  /* Green */
  border: 2px #537260;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  opacity: .75;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  opacity: 1;
}

.banner {
  display: none;
}

.toggle {
  display: none;
}

.toggle:hover+banner {
  display: block;
}

/* HOME */
.action-div {
  &.a {
    background-color: #d2a07e;
  }

  &.b {
    background-color: #52725f;
  }

  &.c {
    background-color: #93423e;
  }

  &.d {
    background-color: #ffbd58;
  }
}

.h-title {
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
  font-weight: 800;
  background-color: #0e0e0e38;
  color: #f7f7f7bd;
}

.distribute {
  .h-img {
    background-image: url('https://i.ibb.co/Bs2qLdx/contrbanner.png');
    .bg-img;
  }

}

.elevate {
  .h-img {
    background-image: url('https://i.ibb.co/TKZ732D/elevbanner.png');
    .bg-img;
  }

  .h-title {
    top: 10px;
  }
}

.educate {
  .h-img {
    background-image: url('https://i.ibb.co/NNHVbr3/edubanner.png');
    .bg-img;

  }
}

.collaborate {
  .h-img {
    background-image: url('https://i.ibb.co/9pwW4vR/collabanner.png');
    .bg-img;
    height: 26vh;

  }
}

.message-title {
  @media all and (max-width: @device-width-medium) {
    font-size: 2rem;
    bottom: 6rem;
    width: 100%;
    left: 0px;
  }
}

/* Footer */

/*  SECTIONS  */
.resource {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5x;
  padding: 5px;
  margin: 0px;
  text-align: center;
}

.footer-container {
  opacity: 90%;
  background-color: black;
  background-image: linear-gradient(90deg, #924235, black);
  /* For browsers that do not support gradients */
}

.textbtn {
  border: none;
  background-color: inherit;
  color: #ffffff;
  padding: 0px;
  font-size: 12px;
  margin-bottom: 1px;
  cursor: pointer;
  width: 100%;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.textbtn:hover {
  background-color: #ffc544;
}


/* Educate */
.carousel-outer {
  margin: 50px 50px -30px 50px;
  position: relative;
  height: 55vh;
  border-radius: 20px;
  background-color: #a87653;
  padding: 20px;
  z-index: 0;
}

.carousel-outer .carosel-inn {
  background-color: #a87653;
}

.carousel-item .img-fluid {
  object-fit: fill;
  height: 415px;
}

.carousel .carousel-indicators {
  margin-bottom: 5px;
}

.carousel-outer .carousel-caption {
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 11%, rgba(5, 5, 5, 0.562062324929972) 69%, rgba(0, 0, 0, 0) 100%);
  color: #f7d9a2;
  width: 100%;
  left: 0;
  padding-right: 10%;
  padding-left: 10%;
  bottom: 0px;
}

.accordion-container {
  .title{
    color:#c49d79;
  }
  .btn.mt-2 {
    background-color: white;
    border: 0px;
    color: #9d1904;
    font-weight: 800;
    border-radius: 0px;
    border-bottom: 2px solid #a876537a;
    padding: 20px 0px;
    font-size: 20px;
    text-align: left;
    margin-top:0px !important;

    &:focus{
      box-shadow:unset;
    }

    &:after {
      content: '\002B';
      color: #9d1904;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }
    
    &.not-collapsed:after {
      content: "\2212";
    }
  }

    .acc-body{
      padding: 20px 0px;
      
      text-align: left;
    
  }


}




/*ELEVATE*/
.searchbanner {
  color: white;
  font-weight: 900;
  padding: 40px;
  background-color: #a25b50;
}

.searchtext {
  font-weight: 900;
  padding-bottom: 15px;
}

.searchbanner .searchform {
  display: inline;
  margin-right: 5px;
}

.elevatetext {
  padding: 50px;
}

.defundbanner {
  background-color: black;
  padding: 50px;
}

.defundbanner a {
  color: white;
  padding: 100px;
  font-weight: 500;
  font-size: 21px;
}

.svg-inline--fa {
  vertical-align: top;
}


/* Donate
  On the Ground
  Petitions
  Organizations
  Black businesses
  */


/* Collaborate
  Contact Reps
  Volunteer
  Orgs
  */